{% extends 'spa_app/layout.html' %}

{% block title %}
SPA
{% endblock %}


{% block content %}

<style>

</style>
<div id="carouselExampleDark" class="carousel carousel-dark slide">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/images/img3.jpg" class="d-block w-100" alt="Сауна">
            <div class="carousel-caption d-none d-md-block">
                <h5>Arthurs Spa Hotel by Mercure</h5>
                <p>Расположен всего в 20 км от МКАД, про мегаполис, шумный и суетный
                    здесь забываешь мгновенно. Наша гостиница предлагает один из самых лучших спа-отдыхов
                    в Московской области.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}